@use '../variables'

.dashboard
    width: 95%
    margin: 0 auto
    border: 1px solid variables.$medium-color
    border-radius: 10px
    background-color: variables.$light-color
    display: flex
    justify-content: space-around
    padding: 20px
    min-height: 80vh

.dashboard-page
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    h1
        color: variables.$medium-color
        margin: 30px auto 10px auto
        font-size: 36px
        width: 100%
        display: flex
        justify-content: center
        align-items: center
    p
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 40px
        font-family: variables.$text-font
        color: variables.$medium-dark-color

.dashboard-column
    width: 30%
    background: #bed5d08b
    border: 1px solid variables.$medium-color
    border-radius: 10px
    h2
        width: 100%
        background-color: variables.$medium-color
        border-radius: 8px 8px 0 0
        text-align: center
        padding: 5px
        margin-bottom: 20px
        color: variables.$white-color

