@use '../../variables'

.dashboard-item
    background-color: variables.$white-color
    margin: 15px 7px
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2)
    border-radius:10px

.task-button
    width: 100%
    display: flex
    justify-content: right
    background-color: variables.$medium-dark-color
    border-radius: 5px 5px 0 0

.delete-button
    background-color: #F78F8F
    width: 15px
    margin: 2px 5px 1px 0px
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4)
    cursor: pointer
    img
        width: 15px
        justify-content: center
        align-items: center
        display: flex
        align-content: center

.edit-button
    background-color: #8fc3f7
    width: 15px
    margin: 2px 5px 1px 0px
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4)
    cursor: pointer
    img
        width: 15px
        justify-content: center
        align-items: center
        display: flex
        align-content: center

.card-title
    color: variables.$white-color
    background-color: variables.$medium-dark-color
    display: flex
    justify-content: center
    margin-bottom: 20px
    padding-bottom: 10px
    flex-wrap: wrap
    font-weight: bold
    font-size: 18px
    

.card-fields
    display: flex
    height: 30px
    p
    font-size:14px

.dashboard-subtitle
    .lowCrit
        color: variables.$medium-color
    .mediumCrit
        color: variables.$yellow
    .highCrit
        color: variables.$red